{%  extends 'Admin/base.html.twig' %}


    {% block title %}
        KiKiCé? Greta
    {% endblock %}

{% block stylesheets %}
    {{  parent() }}

{% endblock %}


{% block body %}
    <div class="alert alert-success alert-dismissible fade" role="alert" id ="alertSup">
        Suppression effectuée!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <main class="center">
        <div class="col-xs-12 col-md-10 col-xl-9 mx-auto">
            <ul class="nav nav-tabs ml-5" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="form-tab" data-toggle="tab" href="#formations" role="tab" aria-controls="formations" aria-selected="true">Formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="annees-tab" data-toggle="tab" href="#annees" role="tab" aria-controls="annees" aria-selected="false">Années</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="prom-tab" data-toggle="tab" href="#promotions" role="tab" aria-controls="promotions" aria-selected="false">Promotions</a>
                </li>
            </ul>
            <div id="dbContainer" class="container">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active py-5 px-5" id="formations" role="tabpanel" aria-labelledby="form-tab">
                        <form action="">
                            <div class="form-group d-flex justify-content-between">

                                <a href="{{ path('admin.degree.new') }}" type="submit" class="btn btn-secondary">Ajouter une formation</a>
                            </div>

                        </form>
                        <li class="d-flex ">
                            <span class="col-8"></span>
                            <div class="col-4 d-flex justify-content-end"><p class="col-6 text-center">Modifier</p>  <p class="col-6 text-center"> Supprimer </p>  </div>
                        </li>
                        {% for degree in degrees %}
                            <li id="degree-{{ degree.id }}" class="d-flex">
                                <span class="col-8">{{ degree.name }}</span>
                                <div class="col-4 d-flex justify-content-end">
                                    <a href="{{ path('admin.degree.edit', {"id": degree.id}) }}" class="col-6 text-center">&#9998;</a>
                                    <a href="{{ path('admin.degree.rem', {"id": degree.id}) }}" class="col-6 text-center poubelle"> &#10008;</a>
                                </div>
                            </li>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade py-5 px-5" id="annees" role="tabpanel" aria-labelledby="annees-tab">
                        <form action="">
                            <div class="form-group d-flex justify-content-between">

                                <a href="{{ path('admin.year.new') }}" type="submit" class="btn btn-secondary">Ajouter une année</a>
                            </div>

                        </form>
                        <li class="d-flex ">
                            <span class="col-8"></span>
                            <div class="col-4 d-flex justify-content-end"><p class="col-6 text-center">Modifier</p>  <p class="col-6 text-center"> Supprimer </p>  </div>
                        </li>
                        {% for year in years %}
                            <li id="year-{{ year.id }}" class="d-flex">
                                <span class="col-8">{{ year.title }}</span>
                                <div class="col-4 d-flex justify-content-end">
                                    <a href="{{ path('admin.year.edit', {"id": year.id}) }}" class="col-6 text-center">&#9998;</a>
                                    <a class="col-6 text-center poubelle"  href="{{ path('admin.year.rem', {"id": year.id}, "#annees") }}"> &#10008; </a>
                                </div>
                            </li>
                        {% endfor %}
                    </div>

                    <div class="tab-pane fade py-5 px-5" id="promotions" role="tabpanel" aria-labelledby="prom-tab">
                        <form action="">
                            <div class="form-group d-flex justify-content-between">

                                <a href="{{ path('admin.prom.new') }}" type="submit" class="btn btn-secondary">Ajouter une promotion</a>
                            </div>

                        </form>
                        <li class="d-flex ">
                            <span class="col-8"></span>
                            <div class="col-4 d-flex justify-content-end"><p class="col-6 text-center">Modifier</p>  <p class="col-6 text-center"> Supprimer </p>  </div>
                        </li>
                        {% for promo in promos %}
                            <li id="promo-{{ promo.id }}" class="d-flex">
                                <span class="col-8">{{ promo.degree.name }} - {{ promo.year.title }}</span>
                                <div class="col-4 d-flex justify-content-end">
                                    <a href="{{ path('admin.prom.edit', {"id": promo.id}) }}" class="col-6 text-center">&#9998;</a>
                                    <a class="col-6 text-center poubelle" href="{{ path('admin.prom.rem', {"id": promo.id}) }}"> &#10008; </a>
                                </div>
                            </li>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </main>
{% endblock %}
{% block javascripts %}
<script>
    {{ parent() }}
    const hash = window.location.hash;

    if(hash) {
        $(`.nav-tabs a[href="${hash}"]`).tab('show');
    }

   // function onClickDelete(event) {
   //      console.log(event.target);
   //     if (!confirm("Confirmez la suppression!")) {
   //         event.preventDefault();
   //         return;
   //     }
   //
   //     $.post({url: event.target.href, success: function(result){
   //             console.log(response);
   //         }});
   // }

    pblElts = document.querySelectorAll(".poubelle");
    for (const pbl of pblElts) {
        pbl.addEventListener("click", (e) => {
            e.preventDefault();
            const reponse = window.confirm("Confirmez la suppression!");
            if(reponse) {
                const url = e.currentTarget.href;
                $.post(url, (id) => {
                    console.log(id);
                    const liElt = document.getElementById(id);
                    liElt.parentNode.removeChild(liElt);
                    document.getElementById("alertSup").classList.toggle('fade');
                });
            }
        });
    }
   </script>


{% endblock %}
